.layout-container > header,
.region-header-secondary {
  background-color: $brand-red;
  color: $white;
  a {
    color: $white;
  }
  a.is-active,
  a:active,
  a:hover {
    color: $brand-orange;
  }
}

.region-header-secondary {
  background-color: $brand-blue;
  font-size: 0.8em;
}

.header__brand {
  img {
    margin: 0.5rem auto;
    max-width: 150px;
    width: 100%;
  }
}

.header__actions .menu,
.header__language .links {
  @include menu-base;
  @include menu-direction(horizontal);
  & > li > a {
    padding: 0.7rem;
  }
}

.header__language .links {
  text-transform: lowercase;
}

header .region-header-secondary .block-search.search-block-form {
  @include show-for(large);
  padding: 0;
  input {
    margin: 0.3em 0;
    height: 1.8rem;
    line-height: 1;
    padding: 0 0.5em;
    font-size: 1em;
    max-width: 15em;
    float: right;
    &.button {
      background-color: $brand-green;
    }
  }
}