.header__navigation {
  position: relative;

  @include breakpoint(medium) {
    padding-top: 2.4rem;
  }

  .is-navigation-open & .menu {
    opacity: 0;
  }

  .menu {
    @include menu-base;
    @include menu-direction(horizontal);
    white-space: nowrap;
    overflow: hidden;

    .menu-item--collapsed {
      list-style-type: none;
      list-style-image: none;
    }
  }

  .header__navigation--toggle {
    background: $brand-red;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1;
    a {
      color: $white;
    }
    &:before {
      position: absolute;
      content: " ";
      left: -3em;
      width: 3em;
      height: 100%;
      background: linear-gradient(to left, $brand-red, transparent);
    }
  }

}

.navigation-main {

  border: 1px solid $brand-red;

  .menu {
    @include menu-base;
    @include menu-direction;
  }

  .navigation-main__close {
    @include show-for-only(small)
    @include button-expand;
  }
}
