{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'navigation-top'
  ]
%}
{% set id = 'region-' ~ region|clean_id %}
{% if content %}
  <div{{ attributes.addClass(classes).setAttribute('id', id) }}>
    {{ content }}
    <div class="navigation-top__toggle">
      <a class="js-search-top-toggle" data-toggle="region-search-top" href="#search">{% trans 'Search' %}</a>
      <a class="lines-button x arrow-left js-navigation-top-toggle" data-toggle="region-navigation-main" aria-label="Toggle Navigation" href="#navigation">
        {% trans 'Menu' %}
        <span class="lines"></span>
      </a>
    </div>
  </div>
{% endif %}
