.u-text-center {
  text-align: center;
}

.u-updates {
  font-size: 0.8em;
  li {
    color: gray;
  }
}

.u-mute {
  color: $dark-gray;
  font-size: 0.8em;
}

.u-hide {
  display: none;
}

.u-no-scroll,
.u-no-scroll body {
  overflow: hidden;
}