.collection {

  @include grid-row();

  @include grid-layout(1,'.collection__item');

  @include breakpoint(medium) {
    @include grid-layout(2, '.collection__item');
  }

  @include breakpoint(large) {
    @include grid-layout(3, '.collection__item');
  }
}

.collection__item {
  padding: 1em;
}

.collection__item .collection-quote {
  display: flex;
  align-items: center;
  height: 100%;
}

