footer {
  background: url('../img/textured_paper.png');
  border-top: 1px solid $light-gray;
  box-shadow: 0 0 10px hsl(0, 0%, 60%);
  @include breakpoint(retina) {
    background: url('../img/textured_paper_@2x.png');
  }
}
.region-footer {
  background-color: transparent;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  .slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem;
  }
  .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0;
  }
  
  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}
