.header {
  background-color: $light-gray;
}

.header__brand,
.header__actions {
  padding-bottom: 1.5rem;
}

.header__brand {
  @include grid-column(4);
}

.header__logo a {
  padding: 0.7rem 1rem;
}

.header__actions {
  @include grid-column(8);
  .menu {
    @include menu-base;
    @include menu-direction(horizontal);
    > li {
      float: right;
    }
  }
}

.header__language {
  @include grid-column-row;
  padding-bottom: 0;
  .links {
    @include menu-base;
    @include menu-direction(horizontal);
    li {
      float: right;
    }
  }
  .language-link {
    font-size: 0.8em;
    &.is-active {
      color: $dark-gray;
    }
  }
}