.header {
  background-color: $light-gray;
  padding-bottom: 0;
  text-align: right;
  @include clearfix;
}

.header__brand {
  float: left;
  padding: 0;
  .site-logo img {
    max-width: 200px;
    width: 100%;
  }
}

.header__language,
.header__actions {
  display: inline-block;
  margin-top: 1.5rem;
}

.header__actions .menu,
.header__language .links {
  @include menu-base;
  @include menu-direction(horizontal);
}