.region-ads-top,
.region-footer,
.layout-content,
.region-header,
.region-navigation-main,
.layout-container > .region {
  @include grid-row;
}

.region-content,
.region-ads-top .block-revive-zone-block {
  @include grid-column;
}

.layout-container > header,
.region-header-secondary {
  @include grid-row($width: none);
}

.header__actions,
.region-header-secondary .block-search,
.header__language {
  display: inline-block;
  width: auto;
  float: right;
}

.region-header-secondary .block-search {
  max-width: 20em;
}

.header__actions {
  float: left;
  text-align: left;
}

.header__brand {
  @include grid-col(4);

  @include breakpoint(medium) {
    @include grid-col-size(3);
  }
}

.region-header {
  position: relative;
}

.header__navigation {
  position: absolute;
  bottom: 22%;
  right: 0;
  .menu {
    @include show-for(medium);
  }
  @include grid-col(8);
  @include breakpoint(medium) {
    @include grid-col(9);
  }
}

.layout-container > main {
  margin-top: 2em;
}