.search-block-form.container-inline {
  display: table;
  padding: 1em;
  width: 100%;
  .form-item-keys {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    width: 100%;
    input {
      border-radius: $global-radius 0 0 $global-radius;
      height: ($input-font-size + $form-spacing * 1.5);
    }
  }
  .form-actions {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    input {
      border-radius: 0 $global-radius $global-radius 0;
    }
  }
}